sqlparse
google-cloud-spanner
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
build
certifi
charset-normalizer
click
docopt
idna
packaging
pep517
pip-tools
pipreqs
pyparsing
requests
tomli
urllib3
yarg
